/* CARDNFT CSS */
.card--nft--background{
  background: linear-gradient(45deg, rgba(27,35,45,1) 20%,      rgba(31,54,83,1) 96%);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  width: 300px;
  height: 400px;
  margin-bottom: 15px;
}

.card--nft--img{
  background-color:#D9D9D9;
  border-radius: 20px 20px 0px 0px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  transition: 0.8s;
}

.card--nft--img:hover{
  transform: scale(0.95);
  transition: 0.8s;
}

.card--nft--id{
  color: #fff;
  padding: 0px 10%;
  padding-top: 10px;
  font-weight: bold;
}

.card--nft--btn{
  background-color: #151b22;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 25px;
  margin: 0px 10%;
  border-radius: 20px;
  transition: 0.6s;
  cursor: pointer;
}

.card--nft--btn:hover{
  background-color:#0c1118;
  transition: 0.6s;
}

.grid--card--nft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1500px;
  margin: 0 auto;
}

/* USER PROFIL */

.box--nft--profil{
  background-color: #0c1118;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
  border-radius: 180px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box--nft--profil--image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-top: -30px;
  border-radius: 150px;
}

.box--nft--profil--info {
  color: #fff;
  padding-top: 30px;
  font-size: 18px;
}
/* END USER PROFIL */

/* CARD COLLECTION */

.card--collection--btn {
  background-color: #151b22;
  display: block;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 25px;
  margin: 0 auto;
  border-radius: 20px;
  transition: 0.6s;
  cursor: pointer;
  margin-top: 20px;
}

.card--collection--btn:hover{
  background-color:#0c1118;
  transition: 0.6s;
}

.card--collection--background {
  background: linear-gradient(45deg, rgba(27,35,45,1) 20%,      rgba(31,54,83,1) 96%);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  width: 300px;
  height: 380px;
  margin-bottom: 15px;
}

/* END CARD COLLECTION */

body{
  font-size: 13px !important;
  background: rgba(32, 48, 72, 1) !important;
}

tr {
  color: #fff;
}

p {
  color: #fff;
}